#! /usr/sbin/nft -f
{{ ansible_managed | comment }}

{% if nftables_vars[item] is defined %}
{% for var in nftables_vars[item] %}
define {{ var }} = {
{%   for value in nftables_vars[item][var] | sort %}
  {{ value }}{% if not loop.last %},{% endif %}{{''}}
{%   endfor %}
}
{% endfor %}
{% endif %}

table filter {
  chain ansible-input {
    type filter hook input priority 0; policy {{ nftables_chain_policy.filter.input }};
    ct state vmap {
      established : accept,
      related : accept,
      invalid : drop
    }
    iifname vmap {
{% for interface in nftables_interface_map.input | default({}) %}
      {{ interface }} : {{ nftables_interface_map.input[interface] }}{% if not loop.last %},{% endif %}{{''}}
{% endfor %}
    }
    counter
  }
  chain ansible-forward {
    type filter hook forward priority 0; policy {{ nftables_chain_policy.filter.forward }};
{% if nftables_interface_map.forward is defined %}
    ct state vmap {
      established : accept,
      related : accept,
      invalid : drop
    }
{%   if "iif" in nftables_interface_map.forward %}
    iifname vmap {
{%    for interface in nftables_interface_map.forward.iif | default({}) %}
      {{ interface }} : {{ nftables_interface_map.forward.iif[interface] }}{% if not loop.last %},{% endif %}{{''}}
{%    endfor %}
    }
{%   endif %}
{%   if "oif" in nftables_interface_map.forward %}
    oifname vmap {
{%     for interface in nftables_interface_map.forward.oif | default({}) %}
      {{ interface }} : {{ nftables_interface_map.forward.oif[interface] }}{% if not loop.last %},{% endif %}{{''}}
{%     endfor %}
    }
{%   endif %}
{% endif %}
    counter
  }
  chain ansible-output {
    type filter hook output priority 0; policy {{ nftables_chain_policy.filter.output }};
    ct state vmap {
      established : accept,
      related : accept,
      invalid : drop
    }
    oifname vmap {
{% for interface in nftables_interface_map.output | default({}) %}
      {{ interface }} : {{ nftables_interface_map.output[interface] }}{% if not loop.last %},{% endif %}{{''}}
{% endfor %}
    }
    counter
  }
{% for chain in nftables_raw_rules.filter %}
  chain {{ chain }} {
{%   for rule in nftables_raw_rules.filter[chain] %}
    {{ rule }}
{%   endfor %}
  }
{% if not loop.last %}{{''}}{% endif %}
{% endfor %}
}
