#! /usr/sbin/nft -f
{{ ansible_managed | comment }}

table nat {
  chain ansible-prerouting {
    type nat hook prerouting priority -100; policy accept;
{% for rule in nftables_raw_rules.nat["ansible-prerouting"] %}
    {{ rule }}
{% endfor %}
  }
  chain ansible-input {
    type nat hook input priority 100; policy accept;
{% for rule in nftables_raw_rules.nat["ansible-input"] %}
    {{ rule }}
{% endfor %}
  }
  chain ansible-output {
    type nat hook output priority -100; policy accept;
{% for rule in nftables_raw_rules.nat["ansible-output"] %}
    {{ rule }}
{% endfor %}
  }
  chain ansible-postrouting {
    type nat hook postrouting priority 100; policy accept;
{% for rule in nftables_raw_rules.nat["ansible-postrouting"] %}
    {{ rule }}
{% endfor %}
  }
}
