#! /usr/sbin/nft -f
{{ ansible_managed | comment }}

table nat {
  chain prerouting {
    type nat hook prerouting priority -100; policy accept;
{% for rule in nftables_raw_rules.nat.prerouting %}
    {{ rule }}
{% endfor %}
  }

  chain input {
    type nat hook input priority 100; policy accept;
{% for rule in nftables_raw_rules.nat.input %}
    {{ rule }}
{% endfor %}
  }

  chain output {
    type nat hook output priority -100; policy accept;
{% for rule in nftables_raw_rules.nat.output %}
    {{ rule }}
{% endfor %}
  }

  chain postrouting {
    type nat hook postrouting priority 100; policy accept;
{% for rule in nftables_raw_rules.nat.postrouting %}
    {{ rule }}
{% endfor %}
  }
}
